In [ ]:
# How-to-count-distance-to-the-previous-zero
# For each value, count the difference back to the previous zero (or the start of the Series,
# whichever is closer)
# create a new column 'Y'
# Consider a DataFrame df where there is an integer column 'X'
# import pandas as pd
# df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [11]:
position = 0
target_reached = 0
zeroIndex = 0
# formula 1 : distance_to_previous_zero = zeroIndex  + 1

In [43]:
def distance_to_zero(series):
    dis_lst = []
    i = 0
    for s in series:
        if s == True:
            i = 0
            dis_lst.append(i)
        else:
            i = i + 1
            dis_lst.append(i)
    return dis_lst

In [45]:
df['Y'] = distance_to_zero([flag for flag in df['X'] == 0])

In [46]:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2