In [105]:
# Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
# random numbers.

In [106]:
import pandas as pd
import numpy as np
from numpy.random import randint as rint

In [107]:
lst = pd.bdate_range('2015-01-01', '2015-12-31')

In [108]:
df = pd.DataFrame({'Date':lst})

In [109]:
def get_day_name(series):
    day_name = []
    for date in series:
        day_name.append(pd.Timestamp(date).day_name())
    return day_name

In [110]:
def get_random_int(series):
    rand_int = []
    for date in series:
        rand_int.append(rint(1,5,1)[0])
    return rand_int

In [111]:
df['Day Name'] = get_day_name(df['Date'])

In [112]:
#get_random_int(df['Date'])
df['Random Int'] = get_random_int(df['Date'])
df

          Date   Day Name  Random Int
0   2015-01-01   Thursday           4
1   2015-01-02     Friday           3
2   2015-01-05     Monday           3
3   2015-01-06    Tuesday           1
4   2015-01-07  Wednesday           3
5   2015-01-08   Thursday           3
6   2015-01-09     Friday           4
7   2015-01-12     Monday           1
8   2015-01-13    Tuesday           4
9   2015-01-14  Wednesday           2
10  2015-01-15   Thursday           4
11  2015-01-16     Friday           2
12  2015-01-19     Monday           3
13  2015-01-20    Tuesday           4
14  2015-01-21  Wednesday           2
15  2015-01-22   Thursday           4
16  2015-01-23     Friday           3
17  2015-01-26     Monday           4
18  2015-01-27    Tuesday           2
19  2015-01-28  Wednesday           4
20  2015-01-29   Thursday           1
21  2015-01-30     Friday           3
22  2015-02-02     Monday           4
23  2015-02-03    Tuesday           2
24  2015-02-04  Wednesday           1
25  2015-02-05   Thursday           2
26  2015-02-06     Friday           4
27  2015-02-09     Monday           3
28  2015-02-10    Tuesday           2
29  2015-02-11  Wednesday           3
..         ...        ...         ...
231 2015-11-20     Friday           1
232 2015-11-23     Monday           2
233 2015-11-24    Tuesday           3
234 2015-11-25  Wednesday           2
235 2015-11-26   Thursday           3
236 2015-11-27     Friday           4
237 2015-11-30     Monday           4
238 2015-12-01    Tuesday           3
239 2015-12-02  Wednesday           4
240 2015-12-03   Thursday           1
241 2015-12-04     Friday           1
242 2015-12-07     Monday           4
243 2015-12-08    Tuesday           1
244 2015-12-09  Wednesday           3
245 2015-12-10   Thursday           4
246 2015-12-11     Friday           3
247 2015-12-14     Monday           1
248 2015-12-15    Tuesday           3
249 2015-12-16  Wednesday           4
250 2015-12-17   Thursday           2
251 2015-12-18     Friday           1
252 2015-12-21     Monday           4
253 2015-12-22    Tuesday           3
254 2015-12-23  Wednesday           1
255 2015-12-24   Thursday           2
256 2015-12-25     Friday           4
257 2015-12-28     Monday           1
258 2015-12-29    Tuesday           4
259 2015-12-30  Wednesday           2
260 2015-12-31   Thursday           3

[261 rows x 3 columns]