In [ ]:
# Find the sum of the values in s for every Wednesday

In [57]:
import pandas as pd
import numpy as np
from numpy.random import randint as rint

In [58]:
lst = pd.bdate_range('2015-01-01', '2015-12-31')

In [59]:
df = pd.DataFrame({'Date':lst})

In [60]:
def get_day_name(series):
    day_name = []
    for date in series:
        day_name.append(pd.Timestamp(date).day_name())
    return day_name

In [61]:
def get_random_int(series):
    rand_int = []
    for date in series:
        rand_int.append(rint(1,5,1)[0])
    return rand_int

In [92]:
df['Day Name'] = get_day_name(df['Date'])

In [93]:
df['Random Int'] = get_random_int(df['Date'])

In [94]:
df.head()

        Date   Day Name  Random Int
0 2015-01-01   Thursday           4
1 2015-01-02     Friday           3
2 2015-01-05     Monday           3
3 2015-01-06    Tuesday           3
4 2015-01-07  Wednesday           2

In [95]:
sum(df[df['Day Name'] == 'Wednesday']['Random Int'])

125