In [ ]:
# Average For each calendar month

In [40]:
import pandas as pd
import numpy as np
from numpy.random import randint as rint

In [41]:
lst = pd.bdate_range('2015-01-01', '2015-12-31')

In [42]:
df = pd.DataFrame({'Date':lst})

In [43]:
def get_day_name(series):
    day_name = []
    for date in series:
        day_name.append(pd.Timestamp(date).day_name())
    return day_name

In [44]:
def get_month_name(series):
    day_name = []
    for date in series:
        day_name.append(pd.Timestamp(date).month_name())
    return day_name

In [45]:
def get_random_int(series):
    rand_int = []
    for date in series:
        rand_int.append(rint(1,5,1)[0])
    return rand_int

In [46]:
df['Day Name'] = get_day_name(df['Date'])

In [47]:
#get_random_int(df['Date'])
df['Month Name'] = get_month_name(df['Date'])

In [48]:
df['Random Int'] = get_random_int(df['Date'])

In [49]:
df.head()

        Date   Day Name Month Name  Random Int
0 2015-01-01   Thursday    January           2
1 2015-01-02     Friday    January           3
2 2015-01-05     Monday    January           3
3 2015-01-06    Tuesday    January           1
4 2015-01-07  Wednesday    January           2

In [54]:
df.groupby('Month Name').mean()

            Random Int
Month Name
April         2.954545
August        2.666667
December      2.478261
February      2.550000
January       2.500000
July          2.739130
June          2.681818
March         2.181818
May           2.619048
November      2.571429
October       2.090909
September     2.272727